* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FEF1BE;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;  
}

#navbar {
  background-color: #ffffff;
  position: fixed;
  top: -50px;
  width: 1520px;
  display: block;
  transition: top 0.3s;
}

#navbar a {
  float: left;
  display: block;
  color: #40291F;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
}


.main {
  overflow: hidden;
  background-image: url('img.jpg');
  background-size: cover;
  background-position: top;
  width: 1520px;
  height: 100;
  top: 0px;
}

.box {
  overflow: auto;
  margin-top: 300px;
  margin-bottom: 0;
  width: 100%;
  height: 1200px;
  border: 3px solid white;
  background-color: #ffffff;
  clip-path: polygon(0px 0%, 100% 200px, 100% 100%, 0% 100%);
}

.pfp{
  border: 10px solid white;
  width: 200px;
  border-radius: 100%;
}

.profile {
  width: 310px;
  margin-top: 230px;
  text-align: center;
  padding: 0;
  top: 0px;
  position: absolute;
  justify-content: center;
}

.name {
  
  color: #5A3F33;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  font-weight: 900;
  font-size: 30px;
}
p1 {
  color: #5A3F33;
  
}

.card {
  /* width: 300px; */
  /* height: 200px; */
  overflow: hidden;
  margin: 10px;
  margin-top: 300px;
  float: left;
  border: 0.01rem solid #5A3F33;
  border-radius: 8px;
  background-color: #FCDB8F;
}

.header{
  width: 100%;
  background-color: #5E4238;
  padding: 0.4rem 0.8rem;
} 
table {
  border-collapse: collapse;
  /* width: 300px; */
}
th, td {
  padding: 0.5rem 1rem;
  color: #5A3F33;
}

th {
  text-align: left;
  padding-right: 5px;
}

td {
  text-align: right;
}

tr:nth-child(even) {
  background-color: #f5c27baf;
}
